.portafolio{
    border-top: 5px solid $color-cuarto;
    background: white;
}
.galeria{
    .contenedor-imagen{
        max-height: 180px;
        overflow: hidden;
        &:hover img{
            opacity: .3;
        }
        a{
            background-color: $color-cuarto;
            display: inline-block;
        }
        &:nth-child(1){order: 1;}
        &:nth-child(2){order: 7;}
        &:nth-child(3){order: 6;}
        &:nth-child(4){order: 2;}
        &:nth-child(5){order: 5;}
        &:nth-child(6){order: 4;}
        &:nth-child(7){order: 3;}
    }
}
.titulo{
    color: #3da5e2;
    font-family: $font-family;
    font-weight: 300;
}

