.portafolio{
    border-top: 5px solid $color-cuarto;
    background: white;
}
.galeria{
    .contenedor-imagen{
        max-height: 180px;
        overflow: hidden;
        &:hover img{
            opacity: .3;
        }
        a{
            background-color: $color-cuarto;
            display: inline-block;
        }
    }
}
.titulo{
    color: #3da5e2;
    font-family: $font-family;
    font-weight: 300;
}
// acerca de
.acerca-de{
    padding-top: 80px;
    .info{

        .titulo{
            color: #005385;
            font-family: $font-family;
            font-weight: 300;
            font-size: 40px;
            margin-bottom: 30px;
        }
        .resumen{
            letter-spacing: 1px;
        }
        .label{
            font-size: 18px;
            font-weight: 600;
            color: #005385;
            margin-bottom: 10px;
        }
        .progress{
            background-color: #005385;
            border-radius: 0;
            height: 25px;
            .progress-bar{
                background-color: #3da5e2;
                line-height: 25px;
                padding-left: 20px;
            }
        }

    }
}
.nombre{
    color: #545454;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
}
// contacto
.contacto{
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    .titulo{
        color: #003855;
        font-family: $font-family;
        font-weight: 300;
        font-size: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
    .formulario{

        input[type="texto"]{

        }
        input[type="email"]{
            
        }
        textarea{
            height: 150px;
            min-height: 150px;
            max-height: 250px;
            padding: 15px;
            border: none;
            font-family: $font-family;
        }
        .boton{
            color: white;
            background: #3da5e2;
            border: none;
            padding: 7px 30px;
            font-family: $font-family;
            cursor: pointer;
            width: auto;
            border-radius: 3px;
            &:hover{
                background: #1ba0ef;
            }
        }
    }
}
